<.header>
  <:actions>
    <.link patch={~p"/events/#{@event}/show/edit"} phx-click={JS.push_focus()}>
      <.button class="btn-primary">Edit event</.button>
    </.link>
  </:actions>
  {@event.title}
</.header>

<div class="card bg-base-300 shadow-xl my-8">
  <div class="card-body">
    <dl class="grid grid-cols-[auto_1fr] gap-4">
      <dt>
        <.icon name="hero-calendar" class="" />
        Date and Time:
      </dt>
      <dd class="font-semibold">
        {@event.begin} - {@event.end}
      </dd>
      <dt>
        <.icon name="hero-map-pin" class="" />
        Location:
      </dt>
      <dd class="font-semibold">
        {@event.location}
      </dd>
      <dt>
        <.icon name="hero-language" class="" />
        Languages:
      </dt>
      <dd>
        <%= for lang <- @event.langs do %>
          <.lang_badge lang={lang} />
        <% end %>
      </dd>
      <dt>
        <.icon name="hero-academic-cap" class="" />
        Hosts:
      </dt>
      <dd>
        <%= for user <- @event.hosts do %>
          {user.full_name}
        <% end %>
      </dd>
      <dt class="col-span-2">
        <.icon name="hero-user-group" class="" />
        Participants:
      </dt>
      <dd class="col-span-2">
        <%= for user <- @event.attendees do %>
          {user.full_name}
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<article class="prose">
  <.markdown markdown={@event.body} />
</article>

<.back navigate={~p"/events"}>Back to events</.back>

<.modal :if={@live_action == :edit} id="event-modal" show on_cancel={JS.patch(~p"/events/#{@event}")}>
  <.live_component
    module={DevRoundWeb.EventLive.FormComponent}
    id={@event.id}
    title={@page_title}
    action={@live_action}
    event={@event}
    patch={~p"/events/#{@event}"}
  />
</.modal>
