<Layouts.app flash={@flash} current_user={@current_user}>
  <DevRoundWeb.HostingComponents.header event={@event} tab={{:session, @session.id}} />
  <DevRoundWeb.HostingComponents.messages messages={@messages} />

  <div class="grid my-8 gap-4">
    <.toolbar>
      <.button
        type="button"
        class="btn btn-primary"
        disabled={!Enum.empty?(@messages) || @session.teams_locked}
        phx-click={JS.push("build_teams")}
      >
        Build Teams
      </.button>
      <.button
        type="button"
        class="btn btn-success"
        disabled={Enum.empty?(@teams) || @session.live}
        phx-click={JS.push("start_session")}
      >
        Start Session
      </.button>
      <.button
        type="button"
        class="btn btn-warning"
        disabled={Enum.empty?(@teams) || !@session.live}
        phx-click={JS.push("stop_session")}
      >
        Return to Lecture
      </.button>
      <div class="flex-1" />
      <.button
        type="button"
        class="btn btn-error"
        disabled={Enum.empty?(@teams)}
        phx-click={JS.push("reset")}
        data-confirm="Do you really want to reset the session? The session will be stopped and its teams purged."
      >
        Reset Session
      </.button>
    </.toolbar>

    <div class="card grid lg:grid-cols-3 items-center gap-4 bg-base-300">
      <div class="grid gap-1 p-2">
        <div class="text-sm text-base-content/70">
          Scheduled Begin
        </div>
        <div class="text-2xl font-mono">
          {@begin}
        </div>
      </div>

      <div class="p-2">
        <div class="text-sm text-base-content/70">
          Scheduled End
        </div>
        <div class="text-2xl font-mono">
          {@end_}
        </div>
      </div>

      <%= if @session.live do %>
        <div class="p-2">
          <div class="text-sm text-base-content/70">
            Time Remaining
          </div>
          <.live_component
            module={DevRoundWeb.EventSessionCountdownLive}
            id={"countdown-#{@session.id}"}
            event_session={@session}
            class="text-2xl font-mono"
            style={nil}
          />
        </div>
      <% end %>
    </div>

    <%= if Enum.empty?(@teams) do %>
      <div class="card flex items-center justify-center w-full aspect-[16/9] bg-base-300">
        <p>
          The teams for this session have not been assigned yet.
        </p>
      </div>
    <% else %>
      <div class="grid gap-4 lg:grid-cols-3">
        <DevRoundWeb.EventComponents.team
          :for={team <- @teams}
          :key={team.id}
          team={team}
          show_attendee_experience_level={true}
          show_attendee_langs={true}
          multiple_langs={@multiple_langs}
        />
      </div>
    <% end %>
  </div>
</Layouts.app>
