<DevRoundWeb.HostingComponents.header event={@event} session={@session} />
<DevRoundWeb.HostingComponents.messages messages={@messages}/>

<div class="my-8">
  <.button type="button" disabled={!Enum.empty?(@messages)} phx-click={JS.push("build_teams")}>
    Build Teams
  </.button>
</div>

<div class="my-8">
  <%= for team <- @teams do %>
    <h2>{team.name}</h2>
    <p>{team.is_remote}</p>
    <%= for attendee <- team.attendees do %>
      <div class="mt-4">
        <.user_badge
          user={attendee.user}
          remote={attendee.is_remote}
          expierence_level={attendee.experience_level}
        >
          <p class="text-sm">
            {Enum.map(attendee.langs, fn lang -> lang.name end) |> Enum.intersperse(", ")}
          </p>
        </.user_badge>
      </div>
    <% end %>
  <% end %>
</div>

