<DevRoundWeb.ErrorComponents.error_page code={404} title="DevRound Not Found">
  <p class="text-base-content/60">We are terribly sorry.</p>
  <div class="card-actions mt-4">
    <.button href={~p"/"} variant="primary">Return Home</.button>
  </div>
</DevRoundWeb.ErrorComponents.error_page>
