<DevRoundWeb.HostingComponents.header event={@event} tab={:lecture} />
<DevRoundWeb.HostingComponents.messages messages={@messages} />

<.live_component
  module={DevRoundWeb.EventSlidesViewerLive}
  id={@event.id}
  event={@event}
/>
