<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: system-ui, sans-serif;
        margin: 3em auto;
        max-width: 1024px;
        padding: 0 1em;
      }
    </style>
  </head>
  <body>
    <%= render_slot(@inner_block) %>
  </body>
</html>

