<Layouts.app flash={@flash} current_user={@current_user} fluid={true}>
  <:sidebar>
    <h2 class="text-lg font-mono font-semibold px-3 py-2">Admin Panel</h2>
    <Backpex.HTML.Layout.sidebar_item current_url={@current_url} navigate={~p"/admin/events"}>
      <.icon name="hero-calendar" class="h-5 w-5" /> Events
    </Backpex.HTML.Layout.sidebar_item>
    <Backpex.HTML.Layout.sidebar_item
      current_url={@current_url}
      navigate={~p"/admin/event_attendees"}
    >
      <.icon name="hero-users" class="h-5 w-5" /> Attendees
    </Backpex.HTML.Layout.sidebar_item>
    <Backpex.HTML.Layout.sidebar_item current_url={@current_url} navigate={~p"/admin/users"}>
      <.icon name="hero-users" class="h-5 w-5" /> Users
    </Backpex.HTML.Layout.sidebar_item>
    <Backpex.HTML.Layout.sidebar_item current_url={@current_url} navigate={~p"/admin/langs"}>
      <.icon name="hero-language" class="h-5 w-5" /> Languages
    </Backpex.HTML.Layout.sidebar_item>
    <Backpex.HTML.Layout.sidebar_item current_url={@current_url} navigate={~p"/admin/team_names"}>
      <.icon name="hero-tag" class="h-5 w-5" /> Team Names
    </Backpex.HTML.Layout.sidebar_item>
  </:sidebar>
  {render_slot(@inner_block)}
</Layouts.app>
